body {
  margin-left: 10%;
  margin-right: 10%;
  font-family: "Garamond", serif;
}

h1 {
  text-align: center;
}

p {
  padding-right: 20%;
}

form {
  margin-left: 5%;
}

a {
  text-decoration: none;
  color: #007A7A;
}

a:hover {
  text-decoration: underline;
}
