body {
  margin-left: 2%;
  margin-right: 2%;
  font-family: "Garamond", serif;
}

h1 {
  text-align: center;
}

p {
  padding-right: 20%;
}

form {
  margin-left: 5%;
}

a {
  text-decoration: none;
  color: #007A7A;
}

a:hover {
  text-decoration: underline;
}

menu {
    height:30px;
    width:100%;
    background-color:#ccc;
    text-align:center;
    padding:5px;
    margin: 0 0 0 0;
}

menu nav ul li{
  display:inline-block;
  padding:0px 25px 10px;
}

menu nav ul{
  margin: 10px 60px 10px 20px;
}

menu nav ul li a{
  font-size: 1.5em;
  text-decoration: none;
}

menu nav ul li a:hover{
  color:black;
  text-decoration: none;

/*----------------------------------------------------
  Flash message
    -----------------------------------------------------*/
.flash_message {
      width:100%;
      text-align:center;
      padding:5px;
      position:fixed;
      top:0;
      left:0;
      background-color:yellow;
      font-weight:bold;
  }
